.container{
    display:flex;
    border: 2px solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
}

.recipe-image {
    width: 220px; /* Adjust the width as needed */
    height: 220px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the container */
    border-radius: 8px 0 0 8px; /* Rounds only the left corners */
    height: auto;
    object-fit: cover;
}

.recipe-details{
    padding:15px;
}

.recipe-name{
    margin-top:0px;
    text-align: left;
}

.recipe-parts{
    text-align:left;
}